################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/blog
/.vs
/Np.Admin.Api/obj
/Np.Admin.Api/obj
/Np.Admin.Api/obj
/Np.Auth.MFA/obj/Release/net6.0
/Np.Common/obj/Release/net6.0
/Np.DAL/obj/Release/net6.0
/Np.Public.Web/obj/Release/net6.0
/Np.ViewModel/obj/Release/net6.0
/Np.Admin.Api/obj/Debug/net6.0/Np.Admin.WebApi.csproj.AssemblyReference.cache
/Np.DAL/obj/Debug/net6.0/Np.DAL.csproj.AssemblyReference.cache
/Np.Admin.Service/obj/Release/net6.0
Np.DAL/obj/Debug/net6.0/Np.DAL.csproj.AssemblyReference.cache
Np.Admin.Service/obj/Debug/net6.0/Np.Admin.Service.csproj.AssemblyReference.cache
Np.Admin.Api/obj/Debug/net6.0/Np.Admin.WebApi.csproj.AssemblyReference.cache
/.vs/blog/v17
/Np.Admin.Api/bin
/.vs/blog/v17
.vs/blog/v17/.suo
/Np.Admin.Api/bin
/Np.DAL/bin
.vs/blog/DesignTimeBuild/.dtbcache.v2
.vs/blog/v17/.suo
/Np.Admin.Api/obj
/Np.Admin.Api/bin
/Np.Admin.Api/bin
/Np.Admin.Api/bin
/Np.Common/bin
*.dll
/Np.Admin.Api/bin
/Np.Admin.Service/bin
/Np.Admin.Service/obj/Debug/net6.0/ref/Np.Admin.Service.dll
/Np.Admin.Service/obj/Debug/net6.0/refint/Np.Admin.Service.dll
/Np.Admin.Service/obj/Debug/net6.0/Np.Admin.Service.assets.cache
/Np.Admin.Service/obj/Debug/net6.0/Np.Admin.Service.csproj.AssemblyReference.cache
/Np.Admin.Service/obj/Debug/net6.0/Np.Admin.Service.csproj.CoreCompileInputs.cache
/Np.Admin.Service/obj/Debug/net6.0/Np.Admin.Service.csproj.FileListAbsolute.txt
/Np.Admin.Service/obj/Debug/net6.0/Np.Admin.Service.dll
/Np.Admin.Service/obj/Debug/net6.0/Np.Admin.Service.pdb
/Np.Auth.MFA/bin/Debug/net6.0/Np.Auth.MFA.dll
/Np.Auth.MFA/bin/Debug/net6.0/Np.Auth.MFA.pdb
/Np.Auth.MFA/bin/Release/net6.0/Np.Auth.MFA.deps.json
/Np.Auth.MFA/bin/Release/net6.0/Np.Auth.MFA.pdb
/Np.Common/bin/Debug/net6.0/Np.Common.deps.json
/Np.Common/bin/Debug/net6.0/Np.Common.dll
/Np.Common/bin/Debug/net6.0/Np.Common.pdb
/Np.Common/obj/Debug/net6.0/ref/Np.Common.dll
/Np.Common/obj/Debug/net6.0/refint/Np.Common.dll
/Np.Common/obj/Debug/net6.0/Np.Common.assets.cache
/Np.Common/obj/Debug/net6.0/Np.Common.csproj.AssemblyReference.cache
/Np.Common/obj/Debug/net6.0/Np.Common.csproj.CoreCompileInputs.cache
/Np.Common/obj/Debug/net6.0/Np.Common.dll
/Np.Common/obj/Debug/net6.0/Np.Common.pdb
/Np.DAL/obj/Debug/net6.0/ref/Np.DAL.dll
/Np.DAL/obj/Debug/net6.0/refint/Np.DAL.dll
/Np.Public.Web/bin/Debug/net6.0/Np.Public.Web.dll
/Np.Public.Web/bin/Debug/net6.0/Np.Public.Web.pdb
/Np.DAL/obj/Debug/net6.0/Np.DAL.assets.cache
/Np.DAL/obj/Debug/net6.0/Np.DAL.csproj.CoreCompileInputs.cache
/Np.DAL/obj/Debug/net6.0/Np.DAL.pdb
/Np.ViewModel/obj/Debug/net6.0/Np.ViewModel.dll
/Np.ViewModel/obj/Debug/net6.0/Np.ViewModel.pdb
/Np.ViewModel/bin/Debug/net6.0/Np.ViewModel.dll
/Np.ViewModel/bin/Debug/net6.0/Np.ViewModel.pdb
/Np.ViewModel/bin/Release/net6.0/Np.ViewModel.deps.json
/Np.ViewModel/bin/Release/net6.0/Np.ViewModel.pdb
/Np.Public.Web/obj/Debug/net6.0/Np.Public.Web.dll
/Np.Public.Web/obj/Debug/net6.0/Np.Public.Web.pdb
/Np.Auth.MFA/obj/Debug/net6.0/Np.Auth.MFA.dll
/Np.Auth.MFA/obj/Debug/net6.0/Np.Auth.MFA.pdb
/Np.Admin.Api/obj/Debug/net6.0/Np.Admin.WebApi.assets.cache
/Np.Admin.Api/obj/Debug/net6.0/Np.Admin.WebApi.csproj.AssemblyReference.cache
/.vs/blog/DesignTimeBuild/.dtbcache.v2
