################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/blog
/.vs
/Np.Admin.Api/obj
/Np.Admin.Api/obj
/Np.Admin.Api/obj
/Np.Auth.MFA/obj/Release/net6.0
/Np.Common/obj/Release/net6.0
/Np.DAL/obj/Release/net6.0
/Np.Public.Web/obj/Release/net6.0
/Np.ViewModel/obj/Release/net6.0
/Np.Admin.Api/obj/Debug/net6.0/Np.Admin.WebApi.csproj.AssemblyReference.cache
/Np.DAL/obj/Debug/net6.0/Np.DAL.csproj.AssemblyReference.cache
/Np.Admin.Service/obj/Release/net6.0
Np.DAL/obj/Debug/net6.0/Np.DAL.csproj.AssemblyReference.cache
Np.Admin.Service/obj/Debug/net6.0/Np.Admin.Service.csproj.AssemblyReference.cache
Np.Admin.Api/obj/Debug/net6.0/Np.Admin.WebApi.csproj.AssemblyReference.cache
/.vs/blog/v17
/Np.Admin.Api/bin
/.vs/blog/v17
.vs/blog/v17/.suo
/Np.Admin.Api/bin
/Np.DAL/bin
.vs/blog/DesignTimeBuild/.dtbcache.v2
.vs/blog/v17/.suo
/Np.Admin.Api/obj
/Np.Admin.Api/bin
/Np.Admin.Api/bin
/Np.Admin.Api/bin
/Np.Common/bin
*.dll
/Np.Admin.Api/bin
