@model dynamic
<!DOCTYPE html>
<html>
<head>
    <style>
        /* Inline CSS for email compatibility */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        #header {
            background-color: #f0f0f0;
            padding: 20px;
        }

        #logo {
            max-width: 100px; /* Adjust logo size as needed */
            display: block;
        }

        #content {
            padding: 20px;
        }

        #vertical-line {
            border-left: 2px solid #333;
            height: 100px; /* Adjust height as needed */
            margin: 0 20px;
            display: inline-block;
        }

        #details {
            display: inline-block;
            margin-right: 20px;
        }

        #footer {
            background-color: #f0f0f0;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="header">
        <img id="logo" src="@ViewData["WebUrl"]/assets/kemphartech_logo.svg" alt="Company Logo">
    </div>
    <hr />
    <div id="content">
        <div id="details">
            <p>Dear @Model.FirstName </p>         
            <p>
                We have received a request to retrieve authenticator QR code for your account. If you did not request this password reset, please ignore this email.<br /><br />
                If you did request a QR, please click on the  <a href="@ViewData["WebUrl"]/confirm-link?LoginGUID=@Model.UserGuid&Code=@Model.ConfirmationCode">link</a> to retrieve your QR code..<br /><br />
                This link is only valid for the next 30 minutes. If you do not retrieve your QR code within this time frame, you will need to request another QR retrieve.<br />
                Please let us know if you have any questions or concerns.<br />
                Thank you.<br />
                Best Regards.<br />
            </p>
            Thank you<br />
            Best Regards.<br />
        </div>
    </div>
    <hr />
    <div id="footer">
        <p>&copy; @DateTime.Now.Year KempharTech</p>
    </div>
</body>
</html>