<div class="main-content">
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-auto">
            <!-- Page Title -->
            <div class="page-header-title">
              <h4>
                {{app.Localize('Blog')}}
              </h4>
            </div>
            <!-- Breadcrumbs -->
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                  <i class="fa fa-home me-1"></i>
                  {{app.Localize('Home')}}
                </a>
              </li>
              <li class="breadcrumb-item">
                {{app.Localize('Category')}}
              </li>
            </ul>
          </div>
        </div>
  
      </div>
    </div>
    <!-- Main Card Body -->
    <div class="card">
      <div class="card-body" [ngClass]="{'disabled loader-full': isLoading} ">
        <div *ngIf="!isLoading">
          <nz-table
          nzShowSizeChanger
          [nzData]="categoryData"
          [nzFrontPagination]="false"
          [nzLoading]="loading"
          [nzTotal]="total"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          (nzQueryParams)="onQueryParamsChange($event)"
        >
          <thead>
            <tr>
              <th nzColumnKey="Id" >Id</th>
              <th nzColumnKey="defaultImage" >Image</th>
              <th nzColumnKey="title" [nzSortFn]="true">Title</th>     

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of categoryData; let i = index">
              <td> {{i+1}}</td>
              <img [src]="data.categoryImage" alt="Category Image" width="100" />
              <td>{{ data.title }}</td>
            </tr>
          </tbody>
        </nz-table>
        </div>
        <div class="row">
          <div class="header">        
            <img class="fixed-button" nz-tooltip nzTooltipTitle="Add Category" (click)="addCategory()"
            src="../../../../assets/images/plus.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
  